
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
  background-color: #2e392d;
  background: linear-gradient(to bottom, #2e392d 0%, #2e392d8c 100%);
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  font-family: 'Belleza', sans-serif;
}

.jobContainer {
  color: black;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.431);
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  justify-content: space-between;
}

/* .jobItem {
  flex-grow: 1;
} */

.jobContainer:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.job-item-title{
  color:red;
}

.job-item-company{
color:green;
}

.job-item-dateApplied{
  
}

.job-item-interest{
  
}

.job-item-appliedOn{
  
}

.JobPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* spinner */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* #nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EEEEEE;
}

ul#nav li {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

ul#nav li a {
  display: block;
  color: #000000;
  font-weight:bold;
  padding: 8px 16px;
  text-decoration: none;
} */

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  margin: auto;
  position: relative;
  background-color: #ffffff;
  z-index: 7;
}

  .menu li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .menu a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #2e392d;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
  }


a.active {
  background-color: #e74c3c;
  pointer-events: none;
}

/* li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
} */

a:hover{
  color:rgb(255, 102, 0)
}

/* .menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
 & ~ .slider {
    left: 0;
    background-color: #3498db;
  }
} */


/* .menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
  & ~ .slider {
    left: 25%;
    background-color: #9b59b6;
  }
} */

/* .menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
  & ~ .slider {
    left: 50%;
    background-color: #e67e22;
  }
} */

/* .menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
  & ~ .slider {
    left: 75%;
    background-color: #16a085;
  }
} */

button {
color: #fff;
text-transform: uppercase;
text-decoration: none;
background: #edab30;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

button_a:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

  .form-search {
   padding: 20px;
  }

  .job-show {
    border-radius: white;
    
  }

  .job-form {
    background: white;
    width: 500px;
    color: #2e392d;
    margin-left:auto;
    margin-right:auto;
  }

  textarea {
  outline: none;
  }

  input[type=submit] {
    padding:5px 15px; 
    background:#edab30; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
}

