body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.jobContainer {
  color: black;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.431);
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  justify-content: stretch;
}

.jobItem {
  flex-grow: 1;
}

.jobContainer:hover {
  background: tomato;
}
